@media(max-width: 1440px) {
//<<<<<<< HEAD
}

@media(max-width: 1200px) {

}

@media(max-width: 1024px) {
}

@media(max-width: 992px) {
}

@media(max-width: 768px) {
}

@media(max-width: 576px) {
}

@media(max-width: 450px) {
}

@media(max-width: 400px) {
}

@media(max-width: 375px) {
}

@media(max-width: 320px) {
//=======
  #title {
    //background: orange;
    height: 178px;
    width: 1320px;
    background: #252125;
    position: fixed;
    //z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    .title {
      display: flex;

      &--general {
        display: none;
      }
      .hamburger-menu {
        .menu__btn {
          top: 40px;
          right: 20px;
          left: 9.80%;
        }
      }
    }
  }
  #about {
    margin-left: 0;
    .about {
      .about--general {

      }
    }
  }
}
@media(max-width: 1200px) {}
@media(max-width: 1024px) {}
@media(max-width: 992px) {}
@media(max-width: 768px) {}
@media(max-width: 576px) {}
@media(max-width: 450px) {}
@media(max-width: 400px) {}
@media(max-width: 375px) {}
@media(max-width: 320px) {}
//>>>>>>> fda5c297f7aa4e42b9b0d6751d65b29b5c185d69
