
#footer {
  width: 50%;
  height: 803px;
  margin-left: 56%;
  .footer {
    .footer--general {
      &__block {
        display: flex;

        h1 {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 64px;
          line-height: 78px;
          color: #5B5B5B;

        }

        img {
          position: absolute;
          right: 5%;
          top: 10%;
        }
      }

      &__title {
        &--name {
          display: flex;
          margin:  60px 0;
          h2 {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #6F6D6D;
          }
          &__group {
            display: flex;
            flex-direction: column;
            z-index: 99;
            input {
              border: none;
              background: none;
              outline: none;
              padding: 0 20px ;
              font-size: 18px;
              color: #000000;
            }
            &--line {
              width: 417px;
              height: 0;
              border: 1px solid #6F6D6D;
              background: #6F6D6D;
            }
          }
        }
        &--btn {
          button {
            width: 133px;
            height: 56px;
            border: 2px solid #252125;
            font-family: 'Montserrat',sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #252125;
            transition: .4s;
            &:hover {
              transform: scale(1.1);
              background: #6F6D6D;
              color: white;
              border: none;
            }
          }
          p {
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 12px;
            line-height: 15px;
            color: #5B5B5B;
            padding-top: 3%;
          }
        }
        &--image {
          position: absolute;
          right: -2%;
          bottom: 4%;
        }
      }
    }
  }
}